

main .register {
  flex-basis: 70%;
}



.register h1 {
  text-align: center; /*centrado de titulo*/
  margin-top: 4%; /*Margen superior del título*/
}
.register form {
  width: 25%; /*Ancho del formulario*/
  margin: 0 auto; /*ajuste de margen nada - automatico*/
  display: flex;  /*display flexible*/
  flex-direction: column; /*Dirección de arriba hacia abajo*/

  justify-content: center;  /*contenido justify centrado*/

}
.register label {
  font-size: 110%;  /*Tamaño de fuente*/
  margin-bottom: 2%;  /*separacion inferior del label*/
  margin-top: 3%;
}

.register input { 
  width: 100%;  /*anchura de la entrada*/
  padding: 2.5%;  /*padding de la caja de entrada de parámetros*/

  border-radius: 5px; /*redondeado de picos*/
  border: 1px solid darkgray; /*borde de la caja*/
  margin-bottom: 4%;  /*Separación entre campos*/
}

.register fieldset{
  margin-bottom: 3%;  /*margen inferior*/
  margin-top: 5%;     /*margen superior*/
}

.register fieldset input{
  display: inline-block;  /*Display en linea para que salga input- value*/
  float: left;            /*apilado de izq a dcha*/
  width: 30%;           /*30% del ancho*/
} 

.register fieldset label{
  display: inline-block;  /*Display en linea para que salga input- value*/
  width: 60%;             /*60% del ancho*/
}

.register fieldset article{
  display: inline-block;  /*Display en linea para que salga input- value*/
  width: 100%;            /*100% del ancho*/
  margin-bottom: 2%;      /*margen al final*/
}


.register button {
  background-color: green;  /*color de botón*/
  color: white; /*color de texto del botón*/
  border: none; /*sin bordes*/
  border-radius: 5px; /*redondeado de picos*/
  font-size: 110%;  /*tamaño de letra en el botón*/
  padding: 3% 5%; /*superficie del botón*/
  cursor: pointer;  /*modo punteor al poner el ratón por encima*/
  margin-bottom: 4%;
}

.register button:hover {
  background-color: forestgreen;  /*iluminar botón al poner el cursor encima*/
}
