/*-------------------------- ENCABEZADO --------------------------*/

@media only screen and (min-width: 1279px) {
	

	#encabezado{
		display: grid;	/*Distribución de cuadrícula.*/
	  grid-template-rows: auto;	/*Una sola fila ajustada automáticamente.*/
	  grid-template-columns: auto auto auto; /*Tres columnas ajustadas automáticamente.*/
	  justify-content: space-evenly;	/* Distribuye el espacio entre los objetos.*/
	}

	#encabezado h1{
		text-align: center;	/*Título en el centro horizontalmente*/
		font-size: 250%;		/*Aumento del tamaño de fuente.*/
		padding-top: 10%;	/*Padding superior para bajar el título*/
	}

	#encabezado section {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#encabezado section img {
		border-radius: 100%;
		margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
	}

	#encabezado section article {
		display: flex;
		flex-direction: column;
	}

	#encabezado form {
		width: 100%;
		margin: 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#encabezado form .form-group {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#encabezado form .form-group button {
		margin-right: 10px;
	}

	#encabezado form .form-group p {
		margin: 0;
		color: red;
	}

	#encabezado form input {
		width: 90%;
		height: 3vh;
		margin: 0.5rem;
	}

	#encabezado form button {
		padding: 0.5em 1em;
		border: none;
		background: green;
		cursor: pointer;
		border-radius: 10px;
	}

	#encabezado form button:hover {
		background-color: forestgreen;
	}

	#encabezado form .form-group p.error-message::after,
	#encabezado form .form-group p.info-message::after {
		content: attr(title);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		padding: 0.5em;
		background-color: black;
		color: white;
		font-size: 0.8em;
		border-radius: 5px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
	}

	#encabezado form .form-group p.error-message:hover::after,
	#encabezado form .form-group p.info-message:hover::after {
		opacity: 1;
	}


}

@media only screen and (max-width: 1081px) {
	#encabezado{
		display: grid;	/*Distribución de cuadrícula.*/
	  grid-template-rows: auto;	/*Una sola fila ajustada automáticamente.*/
	  grid-template-columns: auto auto auto /*Tres columnas ajustadas automáticamente.*/
	
	}

	#encabezado h1{

		text-align: center;	/*Título en el centro horizontalmente*/
		font-size: 150%;		/*Aumento del tamaño de fuente.*/
		padding-top: 15%	/*Padding superior para bajar el título*/
		 
			
	}

	#encabezado form {
		width: 100%;			/*Forzar oque ocupe su 100% a lo ancho (de su espacio).*/
	  margin: 0px 0px;	/*Eliminar margenes.*/
	  display: flex;		/*Distribución flexible para ponerlo en formato vertical.*/
	  flex-direction: column;	/*Lo especificamos en vertical.*/ 
	  align-items: center;	/*Alineamos todos los items al centro, como no es técnicamente
	  											texto, se alinean correctamente.*/
	}

	#encabezado form input {
		width: 60%;		/*Reducimos un poco el tamaño del ancho del campo de entrada.*/
	  height: 1.5vh;	/*Ampliamos un poco en función de la pantalla el tamaño vertical de
	  								entrada forzando también un leve aumento del del encabezado*/
	  margin: 0.5rem;	/*Ajustamos margenes del botón en función del tamaño de letra heredado.*/
		  
	}

	#encabezado form button {
		padding: 0.5em 1em;
	  border: none;					/*eliminamos b*/
	  background: green;	/*Color del botón*/
	  cursor: pointer;	/*Manita cuando el usuario tenga el ratón sobre el botón.*/
	  border-radius: 10px;	/*redondear esquinas del botón.*/
		  
	}

}



/*-------------------------- MENÚ --------------------------*/
#menu{
	background-color: black;
	display: block;	/*Para asegurar que el menú salga debajo del encabezado.*/
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex; /* Utilizamos flex para alinear los elementos */
	justify-content: center; /* Centramos los elementos horizontalmente */

}

#menu ul li{
	display: inline-block;
}

#menu ul li a {
	color:white;
	padding: 20px 40px;
	text-decoration: none;
	display: block;
}

#menu ul li a:hover{
	background-color: forestgreen;	/*iluminar botón al pasar ratón por encima*/
}

/* Media queries para pantallas de menor ancho */
@media screen and (max-width: 768px) {
	header nav {
		padding-left: 20px; /* Reducimos el padding del menú */
	}
	#menu ul li a {
		padding: 10px; /* Reducimos el padding de los enlaces */
	}
}


/*-------------------------- PIE --------------------------*/




@media screen and (max-width: 1081px) {

	#pie .info{	/*Nota: fr representa la fracción del espacio disponible en el contenedor de una cuadrícula.*/
		background-color:#B4B2B2; /*Coloco un gris de fondo.*/
		display: grid;		/*Distribución de cuadrícula.*/
		grid-template-columns: 1fr 1fr 1fr; /*Distribuyo 3 columnas de igual espacio.*/ /*podría hacer repeat(3,1fr); también.*/	
		grid-template-rows: auto;	/*Columnas automáticas, una sola columna.*/
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	#pie .info h5 {
		text-align: center;	/*Alineamiento de los h5 que hay dentro la sección info*/
	}

	#pie .info p {
		text-align: left;
		font-size: 70%;
	}

}


#pie{
	display: grid; /*Distribución de cuadrícula.*/
	grid-template-rows: 80% auto;	/*2 filas, 1º 80%, 2º 20%*/
  grid-template-columns: auto;	/*1 columna automática*/
}

#pie .info{	/*Nota: fr representa la fracción del espacio disponible en el contenedor de una cuadrícula.*/
	background-color:#B4B2B2; /*Coloco un gris de fondo.*/
	display: grid;		/*Distribución de cuadrícula.*/
	grid-template-columns: 1fr 1fr 1fr; /*Distribuyo 3 columnas de igual espacio.*/ /*podría hacer repeat(3,1fr); también.*/	
	grid-template-rows: auto;	/*Columnas automáticas, una sola columna.*/
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#pie .info h5 {
	text-align: center;	/*Alineamiento de los h5 que hay dentro la sección info*/
}

#pie .info p {
	text-align: center; /*Alineamiento de los p que hay dentro la sección info*/
}

#pie .legal{
	background-color: #373737;	/*Coloco un negro de fondo.*/
}

#pie .legal p{
	color: white;	/*letras color blanco en los párrafos*/
	float: left;	/*Apilo el texto de izquierda a derecha.*/

}

#pie .legal #copy{
	padding-left:10%;	/*Ajusto padding*/
}

#pie .legal #banc {
	padding-left: 70%;	/*Ajusto padding*/
	
}



