.horariosdisplay{
  flex-basis: 70%;  /*Asignación del 70% del espacio total (distribución 30-70 del asi y el contenido general)*/
  display: flex;    /*Display flexible DENTRO de la sección de contenido de los horarios*/
  flex-direction: row;  /*dispaly por filas.*/
}

table.horariospelis {
  border-collapse: collapse;  /*Para que los bordes de la tabla estén unidos*/
  width: 50%; /*La tabla ocupa el 50% de la sección a lo ancho*/
  height: 100%; /*La tabla ocupa el 100% de la sección a lo alto*/
}

.horariospelis th, td {
  padding: 3%;  /*Separaciones estéticas*/
  text-align: center; /*Alineamiento de texto.*/
  border: 1px solid #ddd; /*Bordes de la tabla de color gris*/
}

.horariospelis th {
  background-color: #f2f2f2;  /*ocurecimiento de las cabeceras.*/
  font-weight: bold; /*Lo hace el navegador por defecto pero lo especificamos por si acaso.*/
}

td:nth-child(odd) { /*Aplica las celdas impares (odd) y a todos sus hijos en la tabla (nth-child)*/
  background-color: #f2f2f2;  /*oscurece un poco.*/
}

td:nth-child(even) {  /*Aplica las celdas pares (even) y a todos sus hijos en la tabla (nth-child)*/
  background-color: #e6e6e6;  /*Oscurece un poco más aún.*/
}





