
main {
  display: flex;  /*Distribución flexible del main para dividir toda la pagina con la estructuar 30 - 70*/
  flex-direction: row;  /*Asignamos la dirección del flex por filas, es decir de izquierda a derecha. */ 
}
/* ----------------------------- ASIDE  ------------------------------- */

main #noticias {
  overflow-y: scroll; /* Agregamos overflow-y para permitir el desplazamiento vertical */
  background-color: #E7E4E4;  /*Colocamos color gris de fondo al aside.*/
  flex-basis: 30%;  /*Asignación del 30% del espacio al aside*/
  padding-left: 1%; /*Desplazamos un pelín hacia la derecha el aside metiendole un padding a la izquierda.*/
}

main #noticias h3{
	text-align: center;  /*alineamiento del título al centro.*/
	font-size: 160%; /*Aumento del tamaño d elos títulos.*/
}

main #noticias p{
  font-weight: bold;  /*Texto de las noticias en negrita.*/
}

main #noticias img{
  border-radius: 10px;  /*Redondeo de las esquinas de las imágenes de las noticias.*/
}

main #noticias ul {
  list-style: none; /*Quitamos los puntitos de las listas no ordenadas.*/
  padding-left: 10%;  /*Despalzamiento de la lista hacia la derecha.(para que no se quede pegada a la izquierda)*/
}

main #noticias ul li{
	padding-bottom: 10%;  /*Separamos cada elemento de la lista unos de otros para distinguir las noticias.*/	
}

main #noticias ul li p{
	font-family: "Times New Roman", Times, serif;
  font-size: 110%;     /*Aumentamos un poco el tamaño de fuente del texto.*/
}

