
/*Color de fondo del body*/

body {
	background-color: whitesmoke;
}

/* El encabezado */

.encabezado {
	
	align-content: center;
}

.encabezado section{
	display: flex;
	flex-direction: row;
	padding-bottom: 0.7%;
}
.encabezado img{
	padding-left: 5%;
	flex-basis: ;
	
}
.encabezado h1{
	flex-basis: 50%;
	padding-left: 30%;
	padding-top: 2%;
	font-size: 250%;
	font-family: "Times New Roman", Times, serif;
}

.encabezado form{
    align-basis: 25%;
}

.encabezado form label{
	font-size: 150%;
}

.encabezado form input{
	margin-bottom: 4%;
	padding-bottom: 5%;
}

  
.encabezado form button{
	display: block;
	width: 50%;
	height: 20%;
}


/* Menú */
.encabezado nav{
	background-color: black;
	padding-left: 33%;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display: inline-block;

}

#menu ul li a {
	color:white;
	padding: 20px 40px;
	text-decoration: none;

	display: block;
}

#menu ul li a:hover{
	background-color: seagreen;
}

.moviesDisplay h5{
	text-align: center;

}

.moviesDisplay article{
	display: inline-block;
	margin-right: 8%;


}


/*aside del body*/

aside {
	display: grid;
	float: left;
	width: 25%;
	margin-right: 2%;
	height: 100vh;
	align-self: stretch;

}
