
/*Color de fondo del body*/


body {
	background-color: #D3D2D1;
}

/* El encabezado */

header {
	align-content: center;
	background-image: url("./imagenes/cintaizq.png") , url("./imagenes/cintadcha.png");

	background-size: cover;
	background-position-x: 25%,80%;
  	
  	background-size: auto;
  	background-repeat: no-repeat;

}

header section{
	display: flex;
	flex-direction: row;
	padding-bottom: 0.7%;
}
header img{
	padding-left: 5%;
	flex-basis: ;
	
}
header h1{
	flex-basis: 50%;
	padding-left: 28%;
	padding-right: 1%;
	padding-top: 2%;
	font-size: 250%;
	font-family: "Times New Roman", Times, serif;
}

header form{
    align-basis: 25%;
}

header form label{
	font-size: 150%;
}

header form input{
	margin-bottom: 4%;
	padding-bottom: 5%;
}

  
header form button{
	display: block;
	width: 50%;
	height: 20%;
}


/* Menú */
header nav{
	background-color: black;
	padding-left: 33%;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display: inline-block;

}

#menu ul li a {
	color:white;
	padding: 20px 40px;
	text-decoration: none;
	display: block;
}

#menu ul li a:hover{
	background-color: seagreen;
}




main{
	display: flex;
	height: 100%;

}

/*ASIDE*/

html, body {
  height: 100%;
}

body {
  margin: 0;
}


main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

main aside {
  overflow-y: auto;
  flex-basis: 25%;
  max-height: 99%;
  background-color: gray;
}

main aside p {
  padding-bottom: 4%;
}

main aside img {
  padding-left: 5%;
}

main aside h4 {
  padding-left: 30%;
  font-size: 160%;
  flex-basis: 25%;
}

main aside ul {
  list-style: none;
}

aside::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

aside::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

aside::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

aside::-webkit-scrollbar-button {
  background-color: #f5f5f5;
}

aside::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

main section {
  flex-basis: 75%;
  padding-left: 4%;
}






/*Movies display*/

.moviesDisplay h5{
	font-size: 200%;
}

.moviesDisplay #estsemana{
	padding-left: 31%;
}

.moviesDisplay #cartelera{
	padding-left: 37%;
}

.moviesDisplay article{
	display: inline-block;
	margin-right: 8%;
}

.moviesDisplay article img {
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.moviesDisplay article img:hover {
  opacity: 0.4;
}

.moviesDisplay a.vertodo {
  display: block;
  text-align: center;
  padding-top: 2%;
  font-size: 150%;
}
