.information {
	font-family: "Times New Roman", Times, serif;	/*Cambiar fuente*/
  	flex-basis: 70%; /*Asignación del 70% del espacio total (distribución 30-70 del asi y el contenido general)*/
  
}

.information h2 {
  	font-size: 2em;		/*Aumentamos tamaño de fuente*/
  	margin-left: 5%;	/*Desplazamos hacia la derecha los títulos*/
}

.information h3 {
  	font-size: 1.5em;	/*Aumentamos tamaño de fuente*/
  	margin-left: 5%;	/*Desplazamos hacia la derecha los títulos*/
}		

.information p {
  	font-size: 1.1em;	/*Aumentamos tamaño de fuente*/
  	line-height: 1.5;	/*Subimos el texto para que no esté tan agolpado*/
  	margin-left: 5%; /*Desplazamos hacia la derecha el texto*/
}

.information ul {
	list-style: none;
	margin-left: 5%;	/*Desplazamos hacia la derecha el listado*/

}

.information li {
  	margin: 0.5em 0;	/*Margenes a lo alto en el listado.*/
}

.preguntas {
	margin-left: 8%;	/*Margenes a los lados de la caja*/
	margin-right: 8%;	/*Margenes a los lados de la caja*/
  	margin-top: 3em;	/*Insetamos margen arriba.*/
  	padding: 2%; /*Insertamos paddings para mejorar la visualización.*/
  	background-color: #f4f4f4;	/*Color gris de fondo*/
}

.caja {
  	margin-bottom: 2%;	/*Espacio entre preguntas*/
  	padding: 1em;	/*Alineamos el texto dentro (pr los bordes redondeados)*/
  	border: 2px solid #ddd;	/*Dibujamos el borde de los article*/
  	border-radius: 200px;	/*redondeamos los picos de los bordes de los article*/
}

.caja h3 {
  	font-size: 150%;	/*Aumentamos tamaño de la pregunta.*/
  	margin: 0 0;	/*Quitamos el margin a la pregunta*/
}

