.tarifas {
  flex-basis: 70%; /*Asignación del 70% del espacio total (distribución 30-70 del asi y el contenido general)*/
  text-align: center; /*Centrado del texto*/
}

.tarifas h2 {
  font-size: 180%;  /*Ampliamos el título*/
  font-weight: bold;  /*Ponemos título en negrita.*/
}

.tarifas table {
  border-collapse: collapse; /*Para que los bordes de la tabla estén unidos*/
  width: 100%; /*La tabla ocupa el 100% de la sección a lo ancho, a lo alto se ajusto automáticamente*/
}

.tarifas th, td {
  border: 1px solid #ddd; /*bordes grises*/
  padding: 0.62%; /*àdding entre las celdas*/
}

/*voy oscurecienco el color cada columna un poco más:    */

.tarifas th:nth-child(2), .tarifas td:nth-child(2) {  /*aplica a la segunda columna cabecera y celdas.*/
  background-color: #DEE8FC;  
}

.tarifas th:nth-child(3),.tarifas td:nth-child(3) { /*aplica a la tercera columna cabecera y celdas.*/
  background-color: #CDDCFA;
}

.tarifas th:nth-child(4), .tarifas td:nth-child(4) { /*aplica a la cuarta columna cabecera y celdas.*/
  background-color: #C2D4F7;
}

.tarifas th:nth-child(5), .tarifas td:nth-child(5) { /*aplica a la quinta columna cabecera y celdas.*/
  background-color: #B8CCF5;
}

.tarifas th:nth-child(6), .tarifas td:nth-child(6) { /*aplica a la sexta columna cabecera y celdas.*/
  background-color: #A6BFF4;
}
